:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #5d65fa;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: linear-gradient(135deg, #8da0f1 0%, #58327e 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}
